/*
$side-widget-border: solid 1px $side-widget-background;
$side-widget-title-background: $side-widget-background;
$side-widget-title-color: $side-widget-text;
$side-widget-title-padding: 0.75rem;
$side-widget-title-font-size: 1.25rem;
$side-widget-body-background: $white;
$side-widget-body-color: $text-color;
$side-widget-body-link-color: $link-color;
$side-widget-body-link-color-hover: $gray-lightest;
*/
/*
$side-widget-border: solid 1px $side-widget-background;
$side-widget-title-background: $side-widget-background;
$side-widget-title-color: $side-widget-text;
$side-widget-title-padding: 0.75rem;
$side-widget-title-font-size: 1.25rem;
$side-widget-body-background: $white;
$side-widget-body-color: $text-color;
$side-widget-body-link-color: $link-color;
$side-widget-body-link-color-hover: $gray-lightest;
*/
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed !important; }
}

body {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	color: #333; }

h1, h2, h3, h4, h5, h6 {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	color: #333;
	margin-bottom: 1rem; }

a {
	color: #860B0F; }

img {
	max-width: none; }

img.alignleft {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px; }

.btn, .fc.fc-unthemed .fc-toolbar .fc-left button,
.fc.fc-unthemed .fc-toolbar .fc-right button,
.fc.fc-unthemed .fc-toolbar .fc-center button {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.widget {
	margin: 0 0 2rem;
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }

.widget .widget-title {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400; }

.widget .textwidget {
	padding: 1rem; }

.widget .textwidget p:last-of-type {
	margin-bottom: 0; }

.widget .widget-body, .widget > ul {
	display: flex;
	flex-direction: column !important;
	padding: 0.5rem 0;
	list-style: none;
	margin-bottom: 0; }

.widget .widget-body .widget-item .widget-entry, .widget .widget-body li .widget-entry, .widget > ul .widget-item .widget-entry, .widget > ul li .widget-entry {
	padding: 0.5rem 1rem;
	display: block; }

.widget .widget-body .widget-item .widget-entry .entry-title,
.widget .widget-body .widget-item .widget-entry .entry-header,
.widget .widget-body .widget-item .widget-entry .entry-description,
.widget .widget-body .widget-item .widget-entry .entry-excerpt,
.widget .widget-body .widget-item .widget-entry .entry-content, .widget .widget-body li .widget-entry .entry-title,
.widget .widget-body li .widget-entry .entry-header,
.widget .widget-body li .widget-entry .entry-description,
.widget .widget-body li .widget-entry .entry-excerpt,
.widget .widget-body li .widget-entry .entry-content, .widget > ul .widget-item .widget-entry .entry-title,
.widget > ul .widget-item .widget-entry .entry-header,
.widget > ul .widget-item .widget-entry .entry-description,
.widget > ul .widget-item .widget-entry .entry-excerpt,
.widget > ul .widget-item .widget-entry .entry-content, .widget > ul li .widget-entry .entry-title,
.widget > ul li .widget-entry .entry-header,
.widget > ul li .widget-entry .entry-description,
.widget > ul li .widget-entry .entry-excerpt,
.widget > ul li .widget-entry .entry-content {
	display: block; }

.widget .widget-body .widget-item .widget-entry .entry-title > span,
.widget .widget-body .widget-item .widget-entry .entry-header > span,
.widget .widget-body .widget-item .widget-entry .entry-description > span,
.widget .widget-body .widget-item .widget-entry .entry-excerpt > span,
.widget .widget-body .widget-item .widget-entry .entry-content > span, .widget .widget-body li .widget-entry .entry-title > span,
.widget .widget-body li .widget-entry .entry-header > span,
.widget .widget-body li .widget-entry .entry-description > span,
.widget .widget-body li .widget-entry .entry-excerpt > span,
.widget .widget-body li .widget-entry .entry-content > span, .widget > ul .widget-item .widget-entry .entry-title > span,
.widget > ul .widget-item .widget-entry .entry-header > span,
.widget > ul .widget-item .widget-entry .entry-description > span,
.widget > ul .widget-item .widget-entry .entry-excerpt > span,
.widget > ul .widget-item .widget-entry .entry-content > span, .widget > ul li .widget-entry .entry-title > span,
.widget > ul li .widget-entry .entry-header > span,
.widget > ul li .widget-entry .entry-description > span,
.widget > ul li .widget-entry .entry-excerpt > span,
.widget > ul li .widget-entry .entry-content > span {
	display: block; }

.widget .widget-body .widget-item .widget-entry .entry-date,
.widget .widget-body .widget-item .widget-entry .entry-category,
.widget .widget-body .widget-item .widget-entry .entry-location,
.widget .widget-body .widget-item .widget-entry .entry-description, .widget .widget-body li .widget-entry .entry-date,
.widget .widget-body li .widget-entry .entry-category,
.widget .widget-body li .widget-entry .entry-location,
.widget .widget-body li .widget-entry .entry-description, .widget > ul .widget-item .widget-entry .entry-date,
.widget > ul .widget-item .widget-entry .entry-category,
.widget > ul .widget-item .widget-entry .entry-location,
.widget > ul .widget-item .widget-entry .entry-description, .widget > ul li .widget-entry .entry-date,
.widget > ul li .widget-entry .entry-category,
.widget > ul li .widget-entry .entry-location,
.widget > ul li .widget-entry .entry-description {
	font-size: 0.875rem; }

.widget .widget-body .widget-item a.widget-entry:hover, .widget .widget-body li a.widget-entry:hover, .widget > ul .widget-item a.widget-entry:hover, .widget > ul li a.widget-entry:hover {
	/*background-color: #eeeeee;
			  background: #eeeeee;
			  text-decoration: none;*/ }

.widget .nav {
	display: flex;
	flex-direction: column; }

.widget .nav > li:not(.current-menu-ancestor):not(.current-menu-parent):not(.current-menu-item) > ul {
	display: none; }

.widget a {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }

.widget a.depth-0 {
	padding-left: 1rem !important; }

.widget a.depth-1 {
	padding-left: 2rem !important; }

.widget a.depth-2 {
	padding-left: 3rem !important; }

.widget a.depth-3 {
	padding-left: 4rem !important; }

.widget a.depth-4 {
	padding-left: 5rem !important; }

.widget .widget-more-link {
	font-size: 0.8125rem;
	text-transform: uppercase;
	font-weight: bold; }

.dropdown-toggle:after {
	margin: 0 0 0 0.5rem;
	vertical-align: inherit;
	font-family: FontAwesome !important;
	content: '\f107';
	border: none !important;
	width: auto;
	height: auto; }

.primary-nav-wrapper {
	background-color: #860B0F;
	padding: 0 15px; }

@media (max-width: 991px) {
	.primary-nav-wrapper {
		min-height: 3.5rem; }
}

@media (min-width: 992px) {
	.primary-nav-wrapper {
		min-height: 6rem; }
}

.primary-nav-wrapper a {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	color: #ffffff; }

.primary-nav-wrapper a:focus, .primary-nav-wrapper a[tabindex="-1"]:focus {
	outline: auto !important; }

.primary-nav-wrapper .navbar-brand-toggler-wrapper {
	margin-top: auto !important;
	margin-bottom: auto !important; }

@media (max-width: 991px) {
	.primary-nav-wrapper .navbar-brand-toggler-wrapper {
		min-height: 3.5rem;
		height: 3.5rem; }
}

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-brand-toggler-wrapper {
		margin-right: 2rem; }
}

.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-brand {
	text-transform: uppercase;
	padding: 0;
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif; }

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-brand {
		line-height: 2rem;
		font-size: 1.25rem; }
}

.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-brand img {
	width: auto;
	margin-right: 1rem; }

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-brand img {
		max-height: 4.5rem; }
}

@media (max-width: 991px) {
	.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-brand img {
		max-height: 2.75rem; }
}

.primary-nav-wrapper .navbar-brand-toggler-wrapper .navbar-toggler {
	color: #ffffff;
	padding-right: 15px;
	margin-right: -15px;
	padding-left: 15px;
	background-color: transparent;
	border: none;
	border-color: transparent; }

@media (max-width: 991px) {
	.primary-nav-wrapper .navbar-nav {
		padding-bottom: 15px; }
}

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-nav {
		margin-right: auto; }
}

.primary-nav-wrapper .navbar-nav > li > a:hover {
	background-color: #9e0d12;
	background: #9e0d12; }

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-nav > li > a {
		padding: 2rem 1rem !important;
		line-height: 2rem; }
}

.primary-nav-wrapper .navbar-nav .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	margin: 0; }

@media (min-width: 992px) {
	.primary-nav-wrapper .navbar-nav .dropdown-menu {
		background-color: #860B0F;
		background: #860B0F;
		border-color: #860B0F;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		min-width: 250px; }
}

@media (max-width: 991px) {
	.primary-nav-wrapper .navbar-nav .dropdown-menu {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		border: none;
		width: 100%;
		background-color: #920c10;
		background: #920c10;
		padding: 0; }
}

.primary-nav-wrapper .navbar-nav .dropdown-menu a {
	padding-left: 15px; }

.primary-nav-wrapper .navbar-nav .dropdown-menu a:hover {
	background-color: #9e0d12;
	background: #9e0d12; }

.search-wrapper .search-form > .input-group {
	width: 100%;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	background-color: #f7f7f9; }

.search-wrapper .search-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0.75rem 15px;
	font-size: 1.25rem;
	border: none;
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	background-color: transparent;
	color: #333333; }

.search-wrapper .search-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 0.75rem 15px;
	font-size: 1rem;
	background-image: none;
	background-color: transparent;
	color: #292b2c;
	border: none; }

.search-wrapper .search-button:hover {
	background-color: transparent;
	background: transparent;
	color: #636c72; }

.banner-wrapper {
	background-color: #860B0F;
	color: #ffffff;
	background-position: center center;
	background-size: cover;
	min-height: 400px !important; }

.banner-wrapper .custom-logo {
	margin-top: 1rem;
	max-height: 150px;
	width: auto; }

.banner-wrapper .jumbotron-wrapper {
	padding: 3rem 0; }

.banner-wrapper .jumbotron-wrapper .container {
	padding: 3rem 2rem;
	background-color: rgba(134, 11, 15, 0.75) !important;
	border: 2px solid rgba(134, 11, 15, 0.75) !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-headline {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	color: #ffffff;
	font-size: 4rem;
	margin: 0;
	font-weight: 400; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-caption {
	display: block;
	clear: both;
	color: #ffffff;
	font-size: 2rem; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-button {
	color: #ffffff;
	background-color: #860B0F;
	border-color: #860B0F; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-button:hover {
	color: #ffffff;
	background-color: #57070a;
	border-color: #4d0609; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-button:focus, .banner-wrapper .jumbotron-wrapper .container .jumbotron-button.focus {
	box-shadow: 0 0 0 2px rgba(134, 11, 15, 0.5); }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-button.disabled, .banner-wrapper .jumbotron-wrapper .container .jumbotron-button:disabled {
	background-color: #860B0F;
	border-color: #860B0F; }

.banner-wrapper .jumbotron-wrapper .container .jumbotron-button:active, .banner-wrapper .jumbotron-wrapper .container .jumbotron-button.active,
.show > .banner-wrapper .jumbotron-wrapper .container .jumbotron-button.dropdown-toggle {
	color: #ffffff;
	background-color: #57070a;
	background-image: none;
	border-color: #4d0609; }

.breadcrumb-wrapper {
	background-color: #860B0F;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	border-radius: 0; }

.breadcrumb-wrapper .breadcrumb {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	background-color: #860B0F;
	margin: 0;
	padding: 1rem 0; }

.breadcrumb-wrapper .breadcrumb .breadcrumb-item:before,
.breadcrumb-wrapper .breadcrumb .breadcrumb-item.active,
.breadcrumb-wrapper .breadcrumb a, .breadcrumb-wrapper .breadcrumb span {
	color: #ffffff;
	font-size: 1rem; }

.content-wrapper {
	padding-top: 2rem; }

@media (min-width: 992px) {
	.content-wrapper main.content-area {
		min-height: 420px; }
}

.content-wrapper main.content-area .page-header {
	margin-bottom: 1rem; }

.content-wrapper main.content-area .page-header .page-title {
	margin-bottom: 0; }

.content-wrapper main.content-area .page-header .page-title .badge:first-child {
	margin-left: 1rem; }

.content-wrapper main.content-area .page-header .page-title .badge {
	padding: 0.3rem 0.5rem;
	background-color: #666666;
	color: #ffffff;
	margin-right: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.2;
	font-weight: normal;
	vertical-align: middle;
	letter-spacing: 1px; }

.content-wrapper main.content-area .page-header .page-title .fa.fa-lock {
	color: #636c72; }

.content-wrapper main.content-area article {
	margin-bottom: 2rem; }

.content-wrapper main.content-area article .post-header {
	margin-bottom: 0.5rem; }

.content-wrapper main.content-area article .post-header .post-title {
	margin-bottom: 0.5rem; }

.content-wrapper main.content-area article .post-header .post-date,
.content-wrapper main.content-area article .post-header .post-location,
.content-wrapper main.content-area article .post-header .post-category,
.content-wrapper main.content-area article .post-header .post-subtitle {
	font-size: 0.875rem;
	display: block; }

.content-wrapper main.content-area article .post-content img {
	border-radius: 0; }

.content-wrapper main.content-area article .post-content .card {
	border-color: #404040; }

.content-wrapper main.content-area article .post-content .card .card-img-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; }

.content-wrapper main.content-area article .post-content .card .card-img-bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0; }

.content-wrapper main.content-area article .post-content .card .card-text {
	color: #404040; }

.content-wrapper main.content-area article .read-more {
	margin-left: 10px;
	font-size: 0.8125rem;
	text-transform: uppercase;
	font-weight: bold; }

.content-wrapper main.content-area > *:not(.fc-unthemed) table {
	margin-bottom: 1rem;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-collapse: separate;
	width: 100%; }

.content-wrapper main.content-area > *:not(.fc-unthemed) table thead tr > th {
	padding: 8px 16px;
	font-size: 0.875rem;
	height: 40px;
	text-transform: uppercase;
	background-color: rgba(134, 11, 15, 0.05); }

.content-wrapper main.content-area > *:not(.fc-unthemed) table tbody tr > td {
	padding: 8px 16px;
	border: none; }

.content-wrapper main.content-area > *:not(.fc-unthemed) table tbody tr:nth-of-type(even) {
	background-color: #eeeeee; }

.content-wrapper main.content-area table.teachers-roster tr td:first-of-type,
.content-wrapper main.content-area table.teachers-roster tr td:nth-of-type(2) {
	width: 250px; }

.calendar-nav {
	margin-bottom: 1rem;
	padding: 0.75rem 0; }

.calendar-nav .calendar-nav-title {
	margin: 0; }

.calendar-nav a {
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.5rem 1rem;
	border-radius: 0;
	border: 1px solid rgba(134, 11, 15, 0.7); }

.calendar-nav a:hover {
	text-decoration: none;
	background-color: #eeeeee;
	background: #eeeeee; }

.fc.fc-unthemed {
	margin-bottom: 2rem; }

.fc.fc-unthemed .fc-toolbar .fc-left .fc-button-group,
.fc.fc-unthemed .fc-toolbar .fc-right .fc-button-group,
.fc.fc-unthemed .fc-toolbar .fc-center .fc-button-group {
	margin: 0;
	height: auto; }

.fc.fc-unthemed .fc-toolbar .fc-left button,
.fc.fc-unthemed .fc-toolbar .fc-right button,
.fc.fc-unthemed .fc-toolbar .fc-center button {
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background: none;
	box-shadow: none;
	text-shadow: none;
	color: #860B0F;
	background-color: #ffffff;
	border-color: #860B0F;
	border-radius: 0;
	padding: 0.25rem 0.5rem;
	height: auto; }

.fc.fc-unthemed .fc-toolbar .fc-left button:hover,
.fc.fc-unthemed .fc-toolbar .fc-right button:hover,
.fc.fc-unthemed .fc-toolbar .fc-center button:hover {
	color: #860B0F;
	background-color: #e6e6e6;
	border-color: #4d0609; }

.fc.fc-unthemed .fc-toolbar .fc-left button:focus, .fc.fc-unthemed .fc-toolbar .fc-left button.focus,
.fc.fc-unthemed .fc-toolbar .fc-right button:focus,
.fc.fc-unthemed .fc-toolbar .fc-right button.focus,
.fc.fc-unthemed .fc-toolbar .fc-center button:focus,
.fc.fc-unthemed .fc-toolbar .fc-center button.focus {
	box-shadow: 0 0 0 2px rgba(134, 11, 15, 0.5); }

.fc.fc-unthemed .fc-toolbar .fc-left button.disabled, .fc.fc-unthemed .fc-toolbar .fc-left button:disabled,
.fc.fc-unthemed .fc-toolbar .fc-right button.disabled,
.fc.fc-unthemed .fc-toolbar .fc-right button:disabled,
.fc.fc-unthemed .fc-toolbar .fc-center button.disabled,
.fc.fc-unthemed .fc-toolbar .fc-center button:disabled {
	background-color: #ffffff;
	border-color: #860B0F; }

.fc.fc-unthemed .fc-toolbar .fc-left button:active, .fc.fc-unthemed .fc-toolbar .fc-left button.active,
.show > .fc.fc-unthemed .fc-toolbar .fc-left button.dropdown-toggle,
.fc.fc-unthemed .fc-toolbar .fc-right button:active,
.fc.fc-unthemed .fc-toolbar .fc-right button.active,
.show >
.fc.fc-unthemed .fc-toolbar .fc-right button.dropdown-toggle,
.fc.fc-unthemed .fc-toolbar .fc-center button:active,
.fc.fc-unthemed .fc-toolbar .fc-center button.active,
.show >
.fc.fc-unthemed .fc-toolbar .fc-center button.dropdown-toggle {
	color: #860B0F;
	background-color: #e6e6e6;
	background-image: none;
	border-color: #4d0609; }

.fc.fc-unthemed .fc-toolbar .fc-left button.fc-prev-button, .fc.fc-unthemed .fc-toolbar .fc-left button.fc-next-button,
.fc.fc-unthemed .fc-toolbar .fc-right button.fc-prev-button,
.fc.fc-unthemed .fc-toolbar .fc-right button.fc-next-button,
.fc.fc-unthemed .fc-toolbar .fc-center button.fc-prev-button,
.fc.fc-unthemed .fc-toolbar .fc-center button.fc-next-button {
	padding: 0.25rem 0.75rem; }

.fc.fc-unthemed .fc-toolbar .fc-left button:hover, .fc.fc-unthemed .fc-toolbar .fc-left button.fc-state-active,
.fc.fc-unthemed .fc-toolbar .fc-right button:hover,
.fc.fc-unthemed .fc-toolbar .fc-right button.fc-state-active,
.fc.fc-unthemed .fc-toolbar .fc-center button:hover,
.fc.fc-unthemed .fc-toolbar .fc-center button.fc-state-active {
	background-color: #eeeeee;
	background: #eeeeee; }

.fc.fc-unthemed .fc-toolbar .fc-left button span,
.fc.fc-unthemed .fc-toolbar .fc-left button span:after,
.fc.fc-unthemed .fc-toolbar .fc-right button span,
.fc.fc-unthemed .fc-toolbar .fc-right button span:after,
.fc.fc-unthemed .fc-toolbar .fc-center button span,
.fc.fc-unthemed .fc-toolbar .fc-center button span:after {
	height: auto;
	margin: 0;
	top: auto;
	font-weight: normal;
	font-size: 1rem; }

.fc.fc-unthemed .fc-toolbar .fc-right button {
	margin: 0 0 0 0.5rem; }

.fc.fc-unthemed .fc-toolbar .fc-left button {
	margin: 0 0.5rem 0 0; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller {
	overflow-x: visible !important;
	overflow-y: visible !important;
	height: auto !important; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller table.fc-list-table .fc-list-heading td {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #ffffff;
	padding: 14px 14px; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller table.fc-list-table .fc-list-item .fc-list-item-time {
	padding-right: 0; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller table.fc-list-table .fc-list-item .fc-list-item-marker {
	width: 1px;
	padding: 0; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller table.fc-list-table .fc-list-item .fc-list-item-marker .fc-event-dot {
	display: none; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-list-view .fc-scroller table.fc-list-table .fc-list-item .fc-list-item-title a:hover {
	text-decoration: none; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-month-view table thead.fc-head th.fc-day-header {
	padding: 0.5rem 0; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-month-view table thead.fc-head th.fc-day-header span {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: bold; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-month-view table tbody.fc-body div.fc-scroller {
	overflow-x: visible !important;
	overflow-y: visible !important;
	height: auto !important; }

.fc.fc-unthemed .fc-view-container .fc-view.fc-month-view table tbody.fc-body div.fc-scroller .fc-bg td.fc-today {
	background-color: transparent; }

.fc.fc-unthemed .fc-view-container a.fc-day-grid-event {
	margin: 2px 4px;
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #860B0F;
	color: #ffffff;
	border: solid 1px #6e090c; }

.fc.fc-unthemed .fc-view-container a.fc-day-grid-event:hover {
	background-color: #9e0d12;
	background: #9e0d12; }

.fc.fc-unthemed .fc-view-container a.fc-day-grid-event .fc-content {
	white-space: normal;
	overflow: visible; }

.fc.fc-unthemed .fc-view-container a.fc-day-grid-event .fc-content .fc-time {
	font-weight: normal; }

.fc.fc-unthemed .fc-view-container .fc-list-empty {
	background-color: #ffffff;
	text-align: left;
	padding: 8px 14px;
	border: solid 1px #ddd;
	border-top: none; }

.fc-day-top {
	background: transparent !important; }

.fc-day-top .fc-day-number {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8125rem;
	line-height: 26px;
	background-color: transparent;
	height: 100%;
	width: 26px;
	text-align: center;
	border: solid 4px #ffffff; }

.fc-day-top.fc-today .fc-day-number {
	background-color: #860B0F;
	color: #ffffff;
	border-radius: 50%; }

.pagination-nav {
	padding: 2rem 0; }

.pagination-nav ul.pagination li a {
	margin: 0 0.125rem;
	padding: 0.5rem 1rem;
	border-radius: 0;
	border: 1px solid rgba(134, 11, 15, 0.7); }

.pagination-nav ul.pagination li a:hover {
	text-decoration: none;
	background-color: #eeeeee;
	background: #eeeeee; }

.pagination-nav ul.pagination li.active a {
	background-color: #860B0F;
	color: #ffffff; }

.no-content {
	text-align: center;
	padding: 0.5rem;
	margin: 2rem 0 4rem; }

.main-left-sidebar .widget:not(.syn-google-map-widget),
.main-right-sidebar .widget:not(.syn-google-map-widget) {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-title,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-title {
	font-size: 1.5rem;
	padding: 0.75rem;
	margin-bottom: 0;
	color: #ffffff;
	background-color: #6e090c; }

.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget {
	background-color: #860B0F;
	color: #ffffff;
	border-radius: 0; }

.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry,
.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a {
	color: #ffffff; }

.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry:hover, .main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry.active, .main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry.active:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a.active,
.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a.active:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry.active,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry.active:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a:hover,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a.active,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a.active:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry.active,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item a.widget-entry.active:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a.active,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item > a.active:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry.active,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item a.widget-entry.active:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a:hover,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a.active,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item > a.active:hover {
	background-color: #9e0d12;
	background: #9e0d12; }

.main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry span, .main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry a, .main-left-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry .entry-title,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry span,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry a,
.main-left-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry .entry-title,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry span,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry a,
.main-right-sidebar .widget:not(.syn-google-map-widget) .widget-body .widget-item .widget-entry .entry-title,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry span,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry a,
.main-right-sidebar .widget:not(.syn-google-map-widget) .textwidget .widget-item .widget-entry .entry-title {
	color: #ffffff !important; }

.main-left-sidebar .map-wrapper,
.main-right-sidebar .map-wrapper {
	min-height: 250px;
	height: 250px;
	width: 100%; }

article.page .widget .widget-title,
section.main-top-sidebar .widget .widget-title,
section.main-bottom-sidebar .widget .widget-title {
	margin-bottom: 1rem; }

article.page .widget .widget-body,
article.page .widget .textwidget,
section.main-top-sidebar .widget .widget-body,
section.main-top-sidebar .widget .textwidget,
section.main-bottom-sidebar .widget .widget-body,
section.main-bottom-sidebar .widget .textwidget {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: rgba(134, 11, 15, 0.05); }

article.page .widget .widget-body .widget-item a.widget-entry,
article.page .widget .textwidget .widget-item a.widget-entry,
section.main-top-sidebar .widget .widget-body .widget-item a.widget-entry,
section.main-top-sidebar .widget .textwidget .widget-item a.widget-entry,
section.main-bottom-sidebar .widget .widget-body .widget-item a.widget-entry,
section.main-bottom-sidebar .widget .textwidget .widget-item a.widget-entry {
	color: #860B0F; }

article.page .widget .widget-body .widget-item a.widget-entry:hover, article.page .widget .widget-body .widget-item a.widget-entry.active, article.page .widget .widget-body .widget-item a.widget-entry.active:hover,
article.page .widget .textwidget .widget-item a.widget-entry:hover,
article.page .widget .textwidget .widget-item a.widget-entry.active,
article.page .widget .textwidget .widget-item a.widget-entry.active:hover,
section.main-top-sidebar .widget .widget-body .widget-item a.widget-entry:hover,
section.main-top-sidebar .widget .widget-body .widget-item a.widget-entry.active,
section.main-top-sidebar .widget .widget-body .widget-item a.widget-entry.active:hover,
section.main-top-sidebar .widget .textwidget .widget-item a.widget-entry:hover,
section.main-top-sidebar .widget .textwidget .widget-item a.widget-entry.active,
section.main-top-sidebar .widget .textwidget .widget-item a.widget-entry.active:hover,
section.main-bottom-sidebar .widget .widget-body .widget-item a.widget-entry:hover,
section.main-bottom-sidebar .widget .widget-body .widget-item a.widget-entry.active,
section.main-bottom-sidebar .widget .widget-body .widget-item a.widget-entry.active:hover,
section.main-bottom-sidebar .widget .textwidget .widget-item a.widget-entry:hover,
section.main-bottom-sidebar .widget .textwidget .widget-item a.widget-entry.active,
section.main-bottom-sidebar .widget .textwidget .widget-item a.widget-entry.active:hover {
	text-decoration: underline;
	/*background-color: #eeeeee;
					  background: #eeeeee;*/ }

article.page .widget .map-wrapper,
section.main-top-sidebar .widget .map-wrapper,
section.main-bottom-sidebar .widget .map-wrapper {
	min-height: 250px;
	height: 250px;
	width: 100%; }

@media (max-width: 991px) {
	.footer-sidebar .sidebar-wrapper,
	.header-sidebar .sidebar-wrapper {
		padding-top: 2rem; }
}

@media (min-width: 992px) {
	.footer-sidebar .sidebar-wrapper,
	.header-sidebar .sidebar-wrapper {
		padding: 4rem 0; }
}

@media (max-width: 991px) {
	.footer-sidebar .sidebar-wrapper .widget,
	.header-sidebar .sidebar-wrapper .widget {
		margin-bottom: 2rem; }
}

@media (min-width: 992px) {
	.footer-sidebar .sidebar-wrapper .widget,
	.header-sidebar .sidebar-wrapper .widget {
		margin-bottom: 0; }
}

.footer-sidebar .sidebar-wrapper .widget .widget-title,
.header-sidebar .sidebar-wrapper .widget .widget-title {
	font-size: 1.75rem;
	margin-bottom: 1rem; }

.footer-sidebar .sidebar-wrapper .widget .widget-body,
.footer-sidebar .sidebar-wrapper .widget .textwidget,
.header-sidebar .sidebar-wrapper .widget .widget-body,
.header-sidebar .sidebar-wrapper .widget .textwidget {
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.7);
	color: #ffffff; }

.footer-sidebar .sidebar-wrapper .widget .widget-body a,
.footer-sidebar .sidebar-wrapper .widget .textwidget a,
.header-sidebar .sidebar-wrapper .widget .widget-body a,
.header-sidebar .sidebar-wrapper .widget .textwidget a {
	color: #ffffff; }

.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry:hover, .footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active, .footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active:hover,
.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry:hover,
.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active,
.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active:hover,
.header-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry:hover,
.header-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active,
.header-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active:hover,
.header-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry:hover,
.header-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active,
.header-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active:hover {
	background-color: #eeeeee;
	background: #eeeeee; }

.footer-sidebar.google-map .sidebar-wrapper,
.header-sidebar.google-map .sidebar-wrapper {
	margin: 0;
	padding: 0; }

.footer-sidebar.google-map .sidebar-wrapper .widget,
.header-sidebar.google-map .sidebar-wrapper .widget {
	margin: 0;
	padding: 0; }

.footer-sidebar.google-map .sidebar-wrapper .widget .map-wrapper,
.header-sidebar.google-map .sidebar-wrapper .widget .map-wrapper {
	min-height: 400px;
	height: 400px;
	width: 100%; }

.footer-sidebar .syn-contact-widget .widget-body,
.header-sidebar .syn-contact-widget .widget-body {
	min-height: 180px; }

.footer-1.footer-sidebar {
	background-position: center center;
	background-size: cover;
	background-image: url("/wp-content/themes/syntric/assets/images/dotted-pattern.png"); }

.footer-1.footer-sidebar .sidebar-wrapper {
	background-color: #860B0F;
	/*background: -webkit-linear-gradient(left top, lighten($first-footer-background, 5%), darken($first-footer-background, 5%));
		background: -o-linear-gradient(right bottom, lighten($first-footer-background, 5%), darken($first-footer-background, 5%));
		background: -moz-linear-gradient(right bottom, lighten($first-footer-background, 5%), darken($first-footer-background, 5%));
		background: linear-gradient(to right bottom, lighten($first-footer-background, 5%), darken($first-footer-background, 5%));*/ }

.footer-1.footer-sidebar .sidebar-wrapper .widget .widget-title {
	color: #333333; }

.footer-1.footer-sidebar .sidebar-wrapper .widget .widget-body,
.footer-1.footer-sidebar .sidebar-wrapper .widget .textwidget {
	background-color: #860B0F;
	border: 1px solid #860B0F;
	border-radius: 0;
	color: #ffffff; }

.footer-1.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a,
.footer-1.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a {
	color: #ffffff; }

.footer-1.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry:hover, .footer-1.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active, .footer-1.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active:hover,
.footer-1.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry:hover,
.footer-1.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active,
.footer-1.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active:hover {
	background-color: #9e0d12;
	background: #9e0d12;
	color: #ffffff; }

.footer-2.footer-sidebar .sidebar-wrapper {
	background-color: #860B0F;
	/*background: -webkit-linear-gradient(left top, lighten($second-footer-background, 5%), darken($second-footer-background, 5%));
		  background: -o-linear-gradient(right bottom, lighten($second-footer-background, 5%), darken($second-footer-background, 5%));
		  background: -moz-linear-gradient(right bottom, lighten($second-footer-background, 5%), darken($second-footer-background, 5%));
		  background: linear-gradient(to right bottom, lighten($second-footer-background, 5%), darken($second-footer-background, 5%));*/ }

.footer-2.footer-sidebar .sidebar-wrapper .widget .widget-title {
	color: #ffffff; }

.footer-2.footer-sidebar .sidebar-wrapper .widget .widget-body,
.footer-2.footer-sidebar .sidebar-wrapper .widget .textwidget {
	background-color: #860B0F;
	border: 1px solid #860B0F;
	border-radius: 0;
	color: #ffffff; }

.footer-2.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a,
.footer-2.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a {
	color: #ffffff; }

.footer-2.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry:hover, .footer-2.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active, .footer-2.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active:hover,
.footer-2.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry:hover,
.footer-2.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active,
.footer-2.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active:hover {
	background-color: #9e0d12;
	background: #9e0d12;
	color: #ffffff; }

.footer-3.footer-sidebar .sidebar-wrapper {
	background-color: #860B0F; }

.footer-3.footer-sidebar .sidebar-wrapper .widget .widget-title {
	color: #ffffff; }

.footer-3.footer-sidebar .sidebar-wrapper .widget .widget-body,
.footer-3.footer-sidebar .sidebar-wrapper .widget .textwidget {
	min-height: 180px;
	background-color: #860B0F;
	border: 1px solid #860B0F;
	border-radius: 0;
	color: #ffffff; }

.footer-3.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a,
.footer-3.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a {
	color: #ffffff; }

.footer-3.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry:hover, .footer-3.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active, .footer-3.footer-sidebar .sidebar-wrapper .widget .widget-body .widget-item a.widget-entry.active:hover,
.footer-3.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry:hover,
.footer-3.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active,
.footer-3.footer-sidebar .sidebar-wrapper .widget .textwidget .widget-item a.widget-entry.active:hover {
	background-color: #9e0d12;
	background: #9e0d12;
	color: #ffffff; }

.final-footer {
	background-color: #860B0F;
	color: #ffffff;
	padding: 2rem 0 1rem;
	font-size: 0.8125rem; }

.final-footer #google-translate .skiptranslate.goog-te-gadget {
	color: #ffffff !important; }

.final-footer #google-translate .goog-te-combo {
	width: auto; }

.final-footer #google-translate .goog-logo-link {
	color: #ffffff;
	font-weight: 400;
	font-size: 0.8125rem; }

.final-footer #google-translate .gm-style .gm-style-iw {
	font-size: 0.8125rem; }

.final-footer .non-discrimination {
	padding: 0.5rem 0 0.5rem 0; }

.final-footer .login-button {
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	color: #ffffff;
	background-color: #ce0808;
	border-color: #ffffff;
	border-radius: 0; }

.final-footer .login-button:hover {
	color: #ffffff;
	background-color: #9d0606;
	border-color: #e0e0e0; }

.final-footer .login-button:focus, .final-footer .login-button.focus {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); }

.final-footer .login-button.disabled, .final-footer .login-button:disabled {
	background-color: #ce0808;
	border-color: #ffffff; }

.final-footer .login-button:active, .final-footer .login-button.active,
.show > .final-footer .login-button.dropdown-toggle {
	color: #ffffff;
	background-color: #9d0606;
	background-image: none;
	border-color: #e0e0e0; }

.final-footer .login-button:hover {
	text-decoration: none; }

.final-footer .footer-bug {
	color: #ce0808; }

.comments-wrapper {
	background-color: #dcdcdc;
	padding: 1rem 0; }

.comments-wrapper .container div:first-of-type .col {
	padding-bottom: 2rem; }

.comments-wrapper .col {
	color: #333333; }

.comments-wrapper .col .comment-form input[type="submit"] {
	color: #fff;
	background-color: #464a4c;
	border-color: #464a4c; }

.comments-wrapper .col .comment-form input[type="submit"]:hover {
	color: #fff;
	background-color: #2e3031;
	border-color: #292b2c; }

.comments-wrapper .col .comment-form input[type="submit"]:focus, .comments-wrapper .col .comment-form input[type="submit"].focus {
	box-shadow: 0 0 0 2px rgba(70, 74, 76, 0.5); }

.comments-wrapper .col .comment-form input[type="submit"].disabled, .comments-wrapper .col .comment-form input[type="submit"]:disabled {
	background-color: #464a4c;
	border-color: #464a4c; }

.comments-wrapper .col .comment-form input[type="submit"]:active, .comments-wrapper .col .comment-form input[type="submit"].active,
.show > .comments-wrapper .col .comment-form input[type="submit"].dropdown-toggle {
	color: #fff;
	background-color: #2e3031;
	background-image: none;
	border-color: #292b2c; }

.comments-wrapper .col .comment-form .logged-in-as a {
	display: none; }

.comments-wrapper .col .comment-form .required {
	font-size: 0.875rem;
	color: #ce0808; }

.comments-wrapper .col .comment-form input,
.comments-wrapper .col .comment-form select,
.comments-wrapper .col .comment-form textarea {
	background-color: #fff;
	border-color: #464a4c;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; }

.comments-wrapper .col .comments-list {
	padding: 0;
	list-style: none; }

.comments-wrapper .col .comments-list > li {
	background-color: #fff;
	border: solid 1px #464a4c;
	padding: 1rem;
	margin-bottom: 1rem; }

.comments-wrapper .col .comments-list > li .comment-author.vcard {
	padding-bottom: 0.5rem; }

.comments-wrapper .col .comments-list > li .comment-author.vcard span {
	display: none; }

.comments-wrapper .col .comments-list > li .comment-author.vcard b {
	font-weight: normal !important; }

.comments-wrapper .col .comments-list > li .comment-metadata {
	display: none; }

.comments-wrapper .col .comments-list > li .reply {
	display: none; }

.comments-wrapper .col .comments-list > li a {
	color: #ce0808; }

.comments-wrapper .col .comments-list > li > ul {
	padding: 0;
	list-style: none; }

.comments-wrapper .col .comments-list > li > ul ul {
	display: none; }

.comments-wrapper .col .login-button {
	padding: 0.25rem 0.5rem;
	margin-right: 0.5rem;
	color: #ffffff;
	background-color: #ce0808;
	border-color: #ffffff;
	border-radius: 0; }

.comments-wrapper .col .login-button:hover {
	color: #ffffff;
	background-color: #9d0606;
	border-color: #e0e0e0; }

.comments-wrapper .col .login-button:focus, .comments-wrapper .col .login-button.focus {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); }

.comments-wrapper .col .login-button.disabled, .comments-wrapper .col .login-button:disabled {
	background-color: #ce0808;
	border-color: #ffffff; }

.comments-wrapper .col .login-button:active, .comments-wrapper .col .login-button.active,
.show > .comments-wrapper .col .login-button.dropdown-toggle {
	color: #ffffff;
	background-color: #9d0606;
	background-image: none;
	border-color: #e0e0e0; }

.comments-wrapper .col .login-button:hover {
	text-decoration: none; }

.syn-attachments-widget .widget-entry > .entry-header > .entry-title {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2px; }

.syn-facebook-page-widget .widget-body .widget-item .widget-entry {
	display: flex;
	flex-direction: row;
	line-height: 1.5; }

.syn-facebook-page-widget .widget-body .widget-item .widget-entry .entry-image {
	padding-right: 16px; }

.syn-facebook-page-widget .widget-body .widget-item .widget-entry .entry-image img {
	max-width: 100px;
	height: auto; }

aside.main-left-sidebar .syn-facebook-page-widget .widget-body .widget-item .widget-entry .entry-image {
	display: none; }

aside.main-right-sidebar .syn-facebook-page-widget .widget-body .widget-item .widget-entry .entry-image {
	display: none; }

.syn-contact-widget .widget-body .widget-item .widget-entry {
	display: flex;
	flex-direction: row;
	line-height: 1.5; }

.syn-contact-widget .widget-body .widget-item .widget-entry .entry-image {
	padding-right: 1.5rem; }

.syn-contact-widget .widget-body .widget-item .widget-entry .entry-image img {
	max-width: 100px;
	height: auto; }

.syn-contact-widget .widget-body .widget-item .widget-entry .entry-header {
	display: flex;
	flex-direction: column; }

.syn-contact-widget .widget-body .widget-item .widget-entry .entry-header .entry-city-state-zip-code,
.syn-contact-widget .widget-body .widget-item .widget-entry .entry-header .entry-phone-extension {
	display: flex !important;
	flex-direction: row; }

.syn-contact-widget .widget-body .widget-item .widget-entry .entry-header .entry-city-state-zip-code span,
.syn-contact-widget .widget-body .widget-item .widget-entry .entry-header .entry-phone-extension span {
	margin-right: 5px; }

.widget_calendar #wp-calendar {
	font-size: 0.8125rem;
	margin-bottom: 0;
	border-collapse: collapse; }

.widget_calendar #wp-calendar caption {
	text-align: center;
	caption-side: top;
	padding: 0.75rem 0;
	color: #333;
	text-transform: uppercase;
	font-size: 0.875rem; }

.widget_calendar #wp-calendar thead {
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc; }

.widget_calendar #wp-calendar thead tr,
.widget_calendar #wp-calendar tbody tr {
	text-align: center; }

.widget_calendar #wp-calendar thead tr > td,
.widget_calendar #wp-calendar thead tr > th,
.widget_calendar #wp-calendar tbody tr > td,
.widget_calendar #wp-calendar tbody tr > th {
	padding: 0;
	text-align: center;
	max-height: 34px;
	height: 34px;
	max-width: 34px;
	width: 34px; }

.widget_calendar #wp-calendar thead tr > th,
.widget_calendar #wp-calendar tbody tr > th {
	color: #333;
	background-color: #fff; }

.widget_calendar #wp-calendar thead tr > td,
.widget_calendar #wp-calendar tbody tr > td {
	color: #999; }

.widget_calendar #wp-calendar thead tr > td a,
.widget_calendar #wp-calendar tbody tr > td a {
	display: block;
	height: 26px;
	width: 26px;
	line-height: 26px;
	border-radius: 50%;
	background-color: #860B0F;
	color: #ffffff;
	margin: auto; }

.widget_calendar #wp-calendar tfoot tr td {
	padding: 0 0.5rem; }

.widget_calendar #wp-calendar tfoot tr td a {
	display: block;
	padding: 0.75rem 0;
	text-transform: uppercase; }

.container-bleed {
	margin: 0;
	padding: 0; }

.container-bleed .widget {
	margin: 0; }

.print-header {
	text-align: center; }

.print-header-name {
	font-size: 2.5rem; }

.print-footer {
	font-size: 0.875rem;
	text-align: right; }

.acf-field {
	margin-bottom: 1rem !important;
	padding: 0 !important; }

.acf-input {
	width: auto !important; }

.acf-input input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
.acf-input textarea,
.acf-input select {
	padding: 0.5rem 0.75rem !important;
	line-height: 1.25 !important;
	font-size: 1rem !important;
	background-color: #f7f7f9; }

.acf-input input {
	height: inherit !important; }

.acf-input .acf-error-message {
	background: none !important;
	padding: 0.5rem 0.75rem !important;
	margin: 0 0 6px !important;
	border: 1px solid #8B0000 !important;
	border-radius: 0 !important;
	background-color: #8B0000 !important;
	color: #fff !important;
	display: block !important;
	font-size: 0.875rem !important; }

.acf-input .acf-error-message:after {
	border-top-color: #8B0000 !important; }

.acf-input .acf-error-message p {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0.875rem !important; }

.acf-label {
	margin: 0 !important; }

.acf-label label {
	display: inline-block !important;
	margin: 0 0 0.5rem !important;
	font-weight: normal !important; }

.acf-label label .acf-required {
	font-size: 0.875rem;
	color: #8B0000; }

.acf-label .description {
	font-size: 0.75rem !important;
	color: #636c72 !important; }

.acf-form div:not(.acf-error-message) {
	background: none !important;
	border: none !important; }

.acf-form div:not(.acf-error-message):after, .acf-form div:not(.acf-error-message):before {
	background: none !important;
	border: none !important; }

.acf-form > .acf-error-message {
	display: none; }

.acf-form .af-field-instructions {
	margin: 0;
	font-size: 0.75rem;
	color: #636c72;
	padding-bottom: 0.25rem; }

.acf-form .acf-spinner {
	width: 50px; }

.acf-button {
	color: #fff;
	background-color: #860B0F;
	border-color: #860B0F; }

.acf-button:hover {
	color: #fff;
	background-color: #57070a;
	border-color: #4d0609; }

.acf-button:focus, .acf-button.focus {
	box-shadow: 0 0 0 2px rgba(134, 11, 15, 0.5); }

.acf-button.disabled, .acf-button:disabled {
	background-color: #860B0F;
	border-color: #860B0F; }

.acf-button:active, .acf-button.active,
.show > .acf-button.dropdown-toggle {
	color: #fff;
	background-color: #57070a;
	background-image: none;
	border-color: #4d0609; }

#wp-admin-bar-my-account > .ab-item:before {
	float: left;
	margin-right: 6px;
	margin-left: 0; }
