body {
	font-family: 'Roboto', -apple-system, "Helvetica Neue", sans-serif;
	background: #ffffff; }

/******* Syntric classes ******/
#pending_pages_dashboard_widget,
#pending_posts_dashboard_widget,
#recently_published_pages_dashboard_widget,
#recently_published_posts_dashboard_widget,
#class_list_dashboard_widget {
	background-color: transparent;
	border: none; }

#pending_pages_dashboard_widget h2.hndle.ui-sortable-handle,
#pending_posts_dashboard_widget h2.hndle.ui-sortable-handle,
#recently_published_pages_dashboard_widget h2.hndle.ui-sortable-handle,
#recently_published_posts_dashboard_widget h2.hndle.ui-sortable-handle,
#class_list_dashboard_widget h2.hndle.ui-sortable-handle {
	padding: 1rem 0;
	font-size: 1.3em;
	display: inline-block;
	border: none;
	font-weight: normal; }

#pending_pages_dashboard_widget .handlediv,
#pending_posts_dashboard_widget .handlediv,
#recently_published_pages_dashboard_widget .handlediv,
#recently_published_posts_dashboard_widget .handlediv,
#class_list_dashboard_widget .handlediv {
	display: none; }

#pending_pages_dashboard_widget .inside,
#pending_posts_dashboard_widget .inside,
#recently_published_pages_dashboard_widget .inside,
#recently_published_posts_dashboard_widget .inside,
#class_list_dashboard_widget .inside {
	margin: 0;
	padding: 0; }

.wp-list-table .dashicons {
	width: 20px;
	height: 20px;
	font-size: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto; }

.admin-list {
	border-collapse: collapse;
	background-color: #ffffff;
	width: 100%; }

.admin-list thead tr th {
	padding: 10px;
	color: #32373c;
	font-weight: 400 !important;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1; }

.admin-list tbody tr:nth-of-type(odd) {
	background-color: #f9f9f9; }

.admin-list td, .admin-list th {
	text-align: left;
	padding: 10px;
	border: none;
	background-color: transparent; }

.admin-list td .post-breadcrumb-ancestors, .admin-list th .post-breadcrumb-ancestors {
	color: #999; }

.admin-list td.template, .admin-list td.status, .admin-list td.category, .admin-list td.term, .admin-list td.period, .admin-list td.room, .admin-list th.template, .admin-list th.status, .admin-list th.category, .admin-list th.term, .admin-list th.period, .admin-list th.room {
	text-transform: capitalize; }

.admin-list td.template, .admin-list td.status, .admin-list td.category, .admin-list td.period, .admin-list td.room, .admin-list td.published, .admin-list td.submitted, .admin-list th.template, .admin-list th.status, .admin-list th.category, .admin-list th.period, .admin-list th.room, .admin-list th.published, .admin-list th.submitted {
	width: 100px; }

.admin-list td.owner, .admin-list th.owner {
	width: 150px; }

.admin-list td.term, .admin-list th.term {
	width: 200px; }

.admin-list .edit-view-links {
	display: inline-block;
	float: right;
	color: #ddd; }

.admin-list .list-group-header {
	background-color: rgba(0, 133, 186, 0.1) !important; }

.row-actions {
	font-size: 14px; }

table.widefat {
	border: none; }

.postbox .inside,
.stuffbox .inside {
	font-size: 14px; }

#acf-group_59bb843293763 {
	border: none; }

.acf-field.acf-field-enhanced-message.acf-field-59cdd095c90ac {
	padding: 0; }

#acf-group_59c3e037a537a {
	border: none; }

.acf-field.acf-field-enhanced-message.acf-field-59c85f5601896 {
	padding: 0; }

/******* Core Wordpress admin customizations ******/
#wp-admin-bar-my-account > .ab-item:before {
	float: left;
	margin-right: 6px;
	margin-left: 0; }

#wp-content-editor-tools {
	background-color: transparent; }

.wp-core-ui .button,
.wp-core-ui .button-secondary,
.wp-core-ui .ac-button {
	margin: 0 !important;
	vertical-align: baseline !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important; }

.wp-core-ui .button-primary {
	text-shadow: none !important; }

.form-table th {
	font-weight: normal; }

/**** Toolbar publish button ********/
.wpuxss-tpb .ab-item,
.wpuxss-tpb .ab-icon,
.wpuxss-tpb .ab-icon:before,
.wpuxss-tpb .ab-label {
	color: #ffffff !important; }

/******* User/Profile form customizations ********/
#your-profile h2:first-of-type {
	display: none; }

#your-profile table:first-of-type {
	display: none; }

#your-profile h2:nth-of-type(2) {
	display: none; }

#your-profile h2:nth-of-type(3) {
	display: none; }

#your-profile .user-url-wrap {
	display: none; }

#your-profile h2:nth-of-type(4) {
	display: none; }

#your-profile table:nth-of-type(4) {
	display: none; }

#your-profile h2:nth-of-type(5) {
	display: none; }

#your-profile h2:nth-of-type(6) {
	display: none; }

.user-admin-color-wrap {
	display: none; }

/************* TinyMCE customizations *************/
#syn-media-button .dashicons-format-image {
	padding-right: 4px;
	line-height: inherit;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;
	background: 0 0;
	color: #666; }

.mce-widget.mce-btn.mce-wp-dfw {
	display: none; }

/************ Page Attributes meta box ************/
/********** Admin Columns customizations ***********/
table.wp-list-table tbody.cacie-enabled td .cacie-cell-action {
	margin-bottom: 0;
	margin-right: 0;
	color: #0074a2; }

table.wp-list-table tbody.cacie-enabled td .cacie-cell-action:hover {
	color: #00a0d2; }

.cacie-action-icon:after,
table.wp-list-table tbody.cacie-enabled td .cacie-cell-action:after {
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: baseline; }

.widefat td,
.widefat td ol,
.widefat td p,
.widefat td ul {
	font-size: 14px; }

table.wp-list-table tbody:not(.cacie-enabled) .cacie-cell-actions {
	display: none; }

table.wp-list-table tbody.cacie-enabled .cacie-cell-actions {
	display: inline-block; }

#the-list > tr.level-1 .column-title_raw {
	padding-left: 40px; }

#the-list > tr.level-2 .column-title_raw {
	padding-left: 80px; }

#the-list > tr.level-3 .column-title_raw {
	padding-left: 120px; }

#the-list > tr.level-4 .column-title_raw {
	padding-left: 160px; }

.cacie-action-icon.active:before,
table.wp-list-table tbody.cacie-enabled td .active.cacie-cell-action:before,
table.wp-list-table tbody.cacie-enabled td.cacie-editable-media.cacie-nonempty .cacie-cell-action:before,
table.wp-list-table tbody.cacie-enabled td:hover .cacie-cell-action:before {
	display: none; }

.cacie-action-icon.active,
table.wp-list-table tbody.cacie-enabled td .active.cacie-cell-action,
table.wp-list-table tbody.cacie-enabled td.cacie-editable-media.cacie-nonempty .cacie-cell-action,
table.wp-list-table tbody.cacie-enabled td:hover .cacie-cell-action {
	color: #00a0d2; }

#nav-menu-footer,
#nav-menu-header,
#your-profile #rich_editing, .checkbox,
.control-section .accordion-section-title,
.menu-item-handle, .postbox .hndle,
.side-info, .sidebar-name,
.stuffbox .hndle,
.widefat tfoot td,
.widefat tfoot th,
.widefat thead td,
.widefat thead th,
.widget .widget-top {
	line-height: 1.5em;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1; }

table.media .column-title .filename {
	display: none; }

/*************** ACF customizations ***************/
/*#acf-group_594aae200426f .inside {
	background-color: #fff;
	padding: 0 16px !important;
	margin: 0 !important;
}*/
.acf-field .acf-label label,
.acf-tab-button {
	font-size: 14px !important;
	font-weight: normal !important; }

.acf-label .description {
	text-decoration: none;
	font-style: normal;
	color: #999 !important; }

#poststuff #post-body > .postbox-container > .ui-sortable > .acf-postbox {
	padding-bottom: 20px; }

.widget-content .acf-label label {
	font-weight: normal !important; }

form#createuser .acf-label label,
form#your-profile .acf-label label {
	font-weight: 600;
	line-height: 1.3;
	color: #23282d; }

form#createuser ul.acf-radio-list li,
form#createuser ul.acf-checkbox-list li,
form#your-profile ul.acf-radio-list li,
form#your-profile ul.acf-checkbox-list li {
	font-size: 14px; }

@media screen and (max-width: 782px) {
	form#createuser .acf-label,
	form#your-profile .acf-label {
		margin: 0;
		padding: 10px 10px 0 0; }

	form#createuser .acf-input,
	form#your-profile .acf-input {
		padding: 4px 10px 6px 0; }

	form#createuser .acf-input input[type="text"],
	form#your-profile .acf-input input[type="text"],
	#url {
		height: inherit;
		border: 1px solid #ddd;
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		padding: 7px 10px; }

	form#createuser ul.acf-radio-list li,
	form#createuser ul.acf-checkbox-list li,
	form#your-profile ul.acf-radio-list li,
	form#your-profile ul.acf-checkbox-list li {
		margin-bottom: 4px; }
}

.acf-icon.small {
	font-size: 1rem !important; }

.acf-icon {
	/*display: block !important;*/
	color: #999 !important;
	border-color: #bbb !important;
	background-color: #fff !important;
	/*visibility: visible !important;*/ }

.acf-icon:before {
	line-height: inherit; }

.acf-icon:hover {
	color: #fff !important;
	background-color: gray !important; }

.acf-icon.-minus:hover,
.acf-icon.-cancel:hover {
	background-color: red !important; }

.acf-icon.-plus:hover {
	background-color: green !important; }

.acf-icon.-collapse:hover {
	background-color: orange !important; }

.acf-field-clone,
.acf-field-group {
	padding: 0 !important; }

.acf-field-clone > .acf-label,
.acf-field-group > .acf-label {
	display: none; }

.acf-field-group .acf-fields.-border,
.acf-field-clone .acf-clone-fields.-border {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	background-color: transparent !important; }

.acf-field-group .acf-fields .acf-field {
	padding: 8px !important; }

.acf-field-group .acf-fields .acf-field .acf-label,
.acf-field-group .acf-fields .acf-field .acf-label label {
	margin: 0; }

/*.acf-field-clone .acf-clone-fields.-border .acf-field,
.acf-field-group .acf-fields .acf-field,
.acf-field-group .acf-fields .acf-field .acf-label {
	background: none !important;
	background-color: transparent !important;
}*/
.acf-postbox {
	/***************************************
	  // Tab styling
	  .inside.acf-fields.-top {
		  background-color: lighten(lightsteelblue, 10%);
	  }
	  .inside.acf-fields.-top:not(.-sidebar) {
		  background-color: lighten(lightblue, 10%);
		  .acf-tab-wrap.-top {
			  background-color: #ffffff;
			  .acf-hl.acf-tab-group {
				  li.active a {
					  background-color: #0085ba !important;
					  color: #ffffff;
					  text-decoration: none;
					  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
					  border-color: #0073aa #006799 #006799;
				  }
				  li a {
					  font-weight: normal !important;
					  border-top-left-radius: 3px;
					  border-top-right-radius: 3px;
				  }
			  }
		  }
	  }
	  ***************************************/ }

.acf-postbox .acf-field-59c85f5601896 > .acf-label,
.acf-postbox .acf-field-59ad9e7a1595f > .acf-label,
.acf-postbox .acf-field-59cdd095c90ac > .acf-label,
.acf-postbox .acf-field-59b8bd0c20477 > .acf-label {
	display: none !important; }

.acf-postbox .hndle.ui-sortable-handle,
.acf-postbox .handlediv {
	display: none !important; }

.acf-postbox .field-repeater-toggle-all, .acf-postbox .field-flexible-toggle {
	margin-bottom: 6px !important; }

.acf-switch:not(.-on),
.acf-switch:not(.-on):hover {
	color: #fff;
	text-shadow: #666 0 1px;
	background: #999; }

.acf-switch.-on {
	background: #0085ba !important; }

.acf-switch .acf-switch-on {
	text-shadow: #666 0 1px 0 !important; }

.acf-flexible-content > .no-value-message {
	font-size: 13px !important; }

.acf-flexible-content .layout,
.acf-flexible-content .layout .acf-field {
	background-color: #ffffff !important; }

/*.acf-field-group,
.acf-fields.-border {
	border: none !important;
	border-color: transparent !important;
	background-color: transparent !important;
	background: transparent !important;
}*/
/*.ui-sortable .acf-row > .acf-row-handle {
	background-color: #fff !important;
}*/
.acf-repeater > .acf-actions li {
	float: left;
	margin-left: 0;
	margin-right: 5px; }

.acf-repeater .acf-fields {
	background-color: #fbfbfb; }

.acf-repeater tr:nth-child(odd) .acf-fields {
	background-color: #fff; }

.acf-repeater tr:nth-child(even) .acf-fields {
	background-color: #f4f4f4; }

.acf-repeater .acf-row-handle {
	background-color: #f1f1f1 !important; }

.acf-repeater .acf-row-handle span {
	color: #444;
	font-weight: 600; }

.acf-field-repeater.acf-field .acf-row-handle.order a.acf-icon.-collapse:not(:hover) {
	display: block;
	background-color: #fff !important;
	color: #444 !important;
	margin: 4px 0 0 !important; }

.acf-field-repeater.acf-field .acf-row-handle.order a.acf-icon.-collapse:hover {
	display: block;
	background-color: #444 !important;
	color: #ffffff !important;
	margin: 4px 0 0 !important; }

.acf-field-repeater.acf-field .acf-row-handle.remove a.acf-icon.-plus {
	display: none; }

.acf-field-repeater.acf-field .acf-row-handle.remove a.acf-icon.-minus:not(:hover) {
	display: block;
	background-color: #fff !important;
	color: #444 !important; }

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
	font-weight: normal; }

.acf-field-repeater[data-name="syn_departments"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_courses"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_rooms"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_buildings"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_periods"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_departments"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_roster_people"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_classes"] .acf-row-handle.order a.acf-icon.-collapse,
.acf-field-repeater[data-name="syn_attachments"] .acf-row-handle.order a.acf-icon.-collapse {
	display: none !important; }

.acf-repeater .acf-button.button-primary {
	float: left;
	margin-bottom: 8px; }

.acf-field-repeater > .acf-input > .acf-repeater.-block > .acf-table > tbody > .acf-row:not(.-collapsed) > .acf-row-handle {
	background-color: rgba(0, 133, 186, 0.1) !important; }

.acf-repeater.-table .acf-table .acf-th[data-width="1"] {
	display: none !important; }

.acf-repeater td.acf-field .acf-input .acf-checkbox-list li {
	text-align: center; }

.select2-container-multi .select2-choices li {
	/*float: none !important;*/ }

.select2-drop > ul > li > .select2-result-label {
	/*display: none;*/ }

.select2-drop ul li {
	margin-bottom: 0; }

.select2-drop ul li .select2-result-label {
	padding-left: 7px; }

/*.select2-container-multi .select2-choices .select2-search-choice {
	line-height: 1rem !important;
}
.select2-search-choice > div {
	padding: 4px 6px;
}
.select2-container-multi .select2-search-choice-close {
	left: 5px;
}
.select2-search-choice-close {
	top: 8px;
}*/
/*************** Enhanced Media Library customizations ***************/
.media-sidebar .attachment-info .thumbnail-application {
	display: none; }

.media-sidebar .attachment-info .uploaded {
	display: none; }

.media-sidebar label[data-setting="url"] {
	display: none; }

.media-sidebar label[data-setting="description"] {
	display: none; }

.media-sidebar label[data-setting="caption"] {
	display: none; }

.media-frame-content .attachment-info {
	margin-bottom: 0;
	padding-bottom: 0; }

.media-frame-content .attachment-info .details {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 8px; }

.media-frame-content .attachment-info .details .uploaded {
	display: none; }

.media-frame-content .attachment-info .settings {
	border-top: 1px solid #ddd;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 8px; }

.media-frame-content .attachment-info .settings .setting:not([data-setting]) {
	display: none; }

.media-frame-content .attachment-details .setting {
	padding-top: 8px;
	margin: 0; }

.media-frame-content .setting span.name {
	min-width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	min-height: 22px; }

.media-frame-content .setting input,
.media-frame-content .setting textarea {
	width: 100% !important;
	margin: 0 !important; }

.media-frame-content .compat-item .media-types.media-types-required-info {
	display: none; }

.media-frame-content .compat-item label span {
	font-size: 12px; }

.media-frame-content .attachment-info .actions {
	margin-top: 0;
	padding-top: 8px; }

.ac-button.ac-button-toggle-edit:after {
	display: none; }

.tablenav {
	margin: 0 !important;
	height: auto; }

.tablenav .actions {
	padding: 14px 0 !important;
	margin: 0 !important; }

.tablenav .actions > select,
.tablenav .actions > input,
.tablenav .actions a.ac-button,
.tablenav .actions a.reset-sorting {
	margin: 0 4px 0 0 !important;
	vertical-align: top !important;
	top: 0 !important; }

.tablenav .actions > .button,
.tablenav .actions > .ac-button,
.tablenav .actions > .reset-sorting {
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	line-height: 14px;
	height: auto;
	padding: 6px 10px; }

.tablenav-pages {
	padding: 14px 0 !important;
	margin: 0 !important;
	height: auto; }

.tablenav-pages .displaying-num,
.tablenav-pages .tablenav-paging-text,
.tablenav-pages .total-pages {
	font-size: 14px; }

.tablenav-pages .pagination-links .tablenav-pages-navspan,
.tablenav-pages .pagination-links a {
	font-size: 16px;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	padding: 5px 10px;
	height: auto; }

.tablenav-pages .current-page {
	padding: 2px;
	line-height: 28px;
	height: 28px;
	font-size: 14px; }

.ac-button.add-new-h2.ac-button-toggle-edit {
	vertical-align: top !important; }

body.users-php .tablenav .actions a.add-new-h2 {
	vertical-align: top !important; }

/*.tablenav .ac-button,
.tablenav .reset-sorting,
.ac-button.add-new-h2.ac-button-toggle-edit {

	//box-shadow: 0 1px 0 #ccc;

	//display: inline-block;
	text-decoration: none;
	font-size: 13px;
	//line-height: 26px;
	//height: 28px;
	//padding: 0 10px 1px;
	//margin: 1px 8px 4px 0;
	//cursor: pointer;
	//border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0 !important;
}*/
/*************** FontAwesome Icons for admin menu ***************/
.dashicons, .dashicons-before:before {
	font-size: 16px; }

.dashicons-admin-post:before {
	font-family: FontAwesome !important;
	content: '\f1ea'; }

.dashicons-admin-media:before {
	font-family: FontAwesome !important;
	content: '\f03e'; }

.dashicons-admin-page:before {
	font-family: FontAwesome !important;
	content: '\f15b'; }

.dashicons-admin-comments:before {
	font-family: FontAwesome !important;
	content: '\f27a'; }

.dashicons-admin-links:before {
	font-family: FontAwesome !important;
	content: '\f14c'; }

.menu-icon-syn_calendar > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f073'; }

.toplevel_page_syntric-organization > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f19d'; }

.toplevel_page_syntric-organizations > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1ad'; }

.toplevel_page_syntric-people > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f2bb'; }

.toplevel_page_syntric-classrooms > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1b3'; }

.toplevel_page_syntric-departments > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0e8'; }

.toplevel_page_syntric-courses > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0eb'; }

.toplevel_page_syntric-classes > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0f3'; }

.toplevel_page_syntric-google-maps > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f278'; }

.toplevel_page_syntric-facebook-pages > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f230'; }

.toplevel_page_syntric-twitter-feeds > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f099'; }

.toplevel_page_syntric-jumbotrons > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f076'; }

.toplevel_page_syntric-settings > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f085'; }

.dashicons-admin-appearance:before {
	font-family: FontAwesome !important;
	content: '\f1fc'; }

.dashicons-admin-plugins:before {
	font-family: FontAwesome !important;
	content: '\f1e6'; }

.dashicons-admin-users:before {
	font-family: FontAwesome !important;
	content: '\f2c2'; }

.dashicons-admin-tools:before {
	font-family: FontAwesome !important;
	content: '\f0ad'; }

.dashicons-admin-settings:before {
	font-family: FontAwesome !important;
	content: '\f085'; }

#wp-admin-bar-site-name > .ab-item:before {
	font-family: FontAwesome !important;
	content: '\f0ac' !important; }

#wp-admin-bar-new-content > .ab-item > .ab-icon:before {
	font-family: FontAwesome !important;
	content: '\f196' !important;
	top: 0 !important; }

#wp-admin-bar-view > .ab-item:before {
	font-family: FontAwesome !important;
	content: '\f06e';
	top: 1px; }

#wp-admin-bar-my-account > .ab-item:before {
	font-family: FontAwesome !important;
	content: '\f2be' !important; }
