body {
	font-family: 'Roboto', -apple-system, "Helvetica Neue", sans-serif;
	background: #ffffff; }

/*#adminmenu, #adminmenuback, #adminmenuwrap, #wpadminbar {
	background-color: #069;
}*/
div#widgets-right .sidebars-column-1,
div#widgets-right .sidebars-column-2 {
	max-width: none;
	float: none;
	width: 100%;
	margin-right: 2%; }

/******* Syntric classes ******/
#qn-all-pages a {
	text-decoration: none; }

#qn-all-pages > li > ul {
	padding-left: 1rem; }

#qn-all-pages > li > ul > li > ul {
	padding-left: 2rem; }

#qn-all-pages > li > ul > li > ul > li > ul {
	padding-left: 3rem; }

#qn-all-pages > li > ul > li > ul > li > ul > li > ul {
	padding-left: 4rem; }

.admin-list {
	border-collapse: collapse;
	background-color: #fff;
	width: 100%;
	border: 1px solid #e1e1e1;
	/*&.active-classes-list {
		  thead {
			  tr {
				  th.period,
				  th.room {
					  width: 15%;
				  }
				  th.actions {
					  width: 110px;
				  }
			  }
		  }
	  }*/ }

.admin-list thead tr th {
	padding: 10px;
	color: #444;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1; }

.admin-list tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5; }

.admin-list td, .admin-list th {
	text-align: left;
	padding: 10px;
	border: none;
	background-color: transparent;
	vertical-align: top;
	font-size: 14px;
	/*&.template,
		&.status,
		&.category,
		&.term,
		&.period,
		&.room {
			text-transform: capitalize;
		}
		&.template,
		&.status,
		&.category,
		&.period,
		&.room,
		&.published,
		&.submitted {
			width: 100px;
		}
		&.owner {
			width: 150px;
		}
		&.term {
			width: 200px;
		}*/ }

.admin-list td:not(:last-child), .admin-list th:not(:last-child) {
	border-right: 1px solid #e1e1e1; }

.admin-list td .post-breadcrumb-ancestors, .admin-list th .post-breadcrumb-ancestors {
	color: #444; }

.admin-list .edit-view-links {
	display: inline-block;
	float: right;
	color: #ddd; }

.admin-list .list-group-header {
	background-color: rgba(0, 133, 186, 0.1) !important; }

.acf-repeater > table.acf-table td.acf-field[data-name=id],
.acf-repeater > table.acf-table th[data-name=id] {
	display: none; }

.acf-field input:disabled,
.acf-field textarea:disabled,
.acf-field select:disabled {
	background: #f5f5f5 !important;
	color: #32373c; }

.widefat td {
	font-size: 14px !important; }

/* Pretty up the User custom fields */
tr[data-name=syntric_user] > .acf-input {
	padding: 0 !important; }

tr[data-name=syntric_user] .acf-field:before {
	background: transparent !important;
	border-width: 0 !important;
	width: auto !important; }

tr[data-name=syntric_user] .acf-label {
	width: auto !important;
	padding: 0 !important; }

tr[data-name=syntric_user] .acf-label label {
	vertical-align: top;
	text-align: left;
	padding: 0 10px 0 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
	color: #23282d; }

tr[data-name=syntric_user] input[type=text], tr[data-name=syntric_user] select {
	max-width: 25em;
	width: 25em; }

tr[data-name=syntric_user] div.acf-field.acf-field-post-object.acf-field-5c80dc4a54a41 > div.acf-input > span {
	width: 25em;
	max-width: 25em !important; }

/* ACF fields */
.acf-postbox .acf-fields {
	font-style: normal !important; }

.acf-postbox .acf-fields > .acf-tab-wrap.-top {
	background: #fff; }

#wpfooter {
	display: none; }

.acf-repeater .acf-row-handle .acf-icon {
	display: block !important; }

/*.wp-block {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}*/
/* Width of "wide" blocks */
/*.wp-block[data-align="wide"],
.alignwide {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}*/
/* Width of "full-wide" blocks */
/*.wp-block[data-align="full"],
.alignfull {
	max-width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
}*/
.wp-full-overlay-sidebar {
	width: 600px; }

.wp-full-overlay.expanded {
	margin-left: 600px; }

.acf-field-repeater .acf-button.button-primary {
	float: left;
	margin: 10px 0; }

.acf-field-repeater .field-repeater-toggle {
	margin-bottom: 16px !important; }

p.description {
	font-style: normal;
	color: #bbbbbb; }

span.dashicons.green {
	font-size: 1.5rem; }

div[data-name=syntric_filters] td[data-name=value] .acf-fields.-top.-border {
	border: none; }

div[data-name=syntric_filters] td[data-name=value] .acf-fields .acf-field {
	padding: 0;
	border: none; }

.np-page-type {
	display: none; }

.editor-post-title__input,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
	font-weight: normal !important; }

.bulk-action-notice .toggle-indicator:before,
.js .meta-box-sortables .postbox .toggle-indicator:before,
.privacy-text-box .toggle-indicator:before,
.sidebar-name .toggle-indicator:before {
	content: "\f343";
	font-weight: 500; }

.bulk-action-notice .bulk-action-errors-collapsed .toggle-indicator:before,
.js .meta-box-sortables .postbox.closed .handlediv .toggle-indicator:before,
.js .widgets-holder-wrap.closed .toggle-indicator:before,
.privacy-text-box.closed .toggle-indicator:before {
	content: "\f347";
	font-weight: 500; }

.edit-post-meta-boxes-area #poststuff .stuffbox > h3,
.edit-post-meta-boxes-area #poststuff h2.hndle,
.edit-post-meta-boxes-area #poststuff h3.hndle {
	font-size: 13px;
	font-weight: 600;
	color: #191e23;
	border: none; }

.edit-post-meta-boxes-area #poststuff .acf-postbox {
	border-top: 1px solid #e2e4e7; }

.edit-post-meta-boxes-area #poststuff .acf-postbox:first-child {
	border-top: none; }

.edit-post-meta-boxes-area #poststuff .acf-postbox div[data-type=group] {
	padding: 0; }

.edit-post-meta-boxes-area #poststuff .acf-postbox .acf-fields {
	border: none; }

.edit-post-meta-boxes-area #poststuff .acf-postbox .acf-field {
	padding: 8px 16px; }

.edit-post-meta-boxes-area #poststuff .acf-postbox .acf-label > label {
	margin-bottom: 0;
	font-weight: normal; }

.edit-post-meta-boxes-area #poststuff .acf-postbox .acf-field-group > .acf-label {
	display: none; }

.admin-nav-menu li {
	margin: 2px 0; }

.admin-nav-menu #acf-group_59b8c17541486 > div > div > div.acf-input > div > div.acf-field.acf-field-enhanced-message.acf-field-592d1a7dae144 > div.acf-label {
	display: none; }

.acf-google-map > .title {
	border-bottom: none !important; }

.acf-google-map > .title input.search {
	font-weight: normal !important;
	font-size: 14px;
	padding: 3px 5px;
	margin: 0;
	height: 28px;
	line-height: 1.4;
	border: inherit; }

div[data-type=group].acf-field.acf-field-group > .acf-label {
	display: none; }

.acf-field[data-width] + .acf-field[data-width],
.acf-fields > .acf-field,
.acf-fields.-border {
	border: none !important; }

div[data-name=filters] td.acf-field.acf-field-group[data-name=value][data-type=group] > .acf-input > .acf-fields > div.acf-field {
	padding: 0; }

div[data-name=filters] td.acf-field.acf-field-group[data-name=value][data-type=group] > .acf-input > .acf-fields > div.acf-field > .acf-label {
	display: none; }

tr.acf-field.acf-field-group.acf-field-5c873b64763cd > td.acf-label {
	display: none; }

/*.acf-icon.small, .acf-icon.-small {
	width: 12px;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
}*/
.acf-repeater {
	/*.acf-row > td.acf-field {
		  padding: 16px;
	  }*/ }

.acf-repeater .acf-th {
	text-transform: capitalize; }

/*.media-upload-form .media-item {
	padding: 1rem 0;
}

.media-item .pinkynail {
	margin: 0 0.5rem 0 0;
}*/
/*.acf-field-5a0cd8d8cca78 {
	a {
		padding-left: 10px;
	}
}*/
/******* Category taxonomy pages ******/
/*
body.taxonomy-category {
	.check-column {
		display: none;
	}
}
*/
/*.wp-list-table {
	.dashicons {
		width: 20px;
		height: 20px;
		font-size: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}*/
/*div.wpmudev-chat-box div.wpmudev-chat-module-message-area textarea.wpmudev-chat-send {
	padding: 6px !important;
}

#wpmudev-chat-box-bottom_corner div.wpmudev-chat-module-messages-list div.wpmudev-chat-row p.wpmudev-chat-message {
	margin: 0;
	padding: 6px;
}

.wpmudev-chat-row-footer {
	display: none !important;
}

.wpmudev-chat-actions-menu {
	display: none;
}*/
/*#submitpost #duplicate-action {
	display: none;
}*/
/*.button-tinymce-templates .dashicons-edit {
	display: none;
}

.button.insert-media {
	padding-left: 7px !important;
	span {
		display: none !important;
	}
}

.wp-core-ui .button.button-small {
	line-height: 24px !important;
}*/
/*table.media {
	.column-image {
		padding: 10px 4px;
		.ac-image {
			margin: 0;
			img {
				max-width: 150px !important;
				max-height: 100px !important;
				width: 100%;
				height: auto;
			}
			.ac-extension {
				font-size: 10px;
				font-weight: normal;
				line-height: inherit;
			}
		}
	}
	.column-parent:not(.manage-column) {
		strong > a {
			font-weight: normal !important;
		}
		> a {
			display: none;
		}
	}
}*/
/*.edit-term-notes,
.term-description-wrap > p,
.term-parent-wrap > p,
.term-slug-wrap > p,
.term-name-wrap > p {
	display: none;
}

#footer-thankyou {
	display: none;
}*/
/*#misc-publishing-actions {
	b,
	strong,
	#post-status-display,
	#post-visibility-display {
		font-weight: 400 !important;
		color: #444;
	}
	a {
		float: right;
	}
	.misc-pub-curtime > span,
	.misc-pub-revisions,
	#visibility.misc-pub-visibility,
	.misc-pub-post-status {
		&:before {
			display: none;
			content: "";
		}
	}
}*/
/*.row-actions {
	font-size: 14px;
	//left : auto;
	color: #666;
	> span, > span > a {
		font-size: 12px;
		color: #666;
		&.delete-tag,
		&.submitdelete {
			color: #7d0200;
		}
	}
	a:hover {
		color: #0073aa;
	}
	> span.copy_to_template {
		display: none;
	}
	.do-not-edit {
	}
}*/
/*table.widefat {
	border: none;
}*/
/*.postbox {
	box-shadow: none;
	.hndle, .ui-sortable-handle {
		//font-weight : 400 !important;
		//background  : #52accc;
		//color       : #444;
	}
	label {
		//font-weight : 400 !important;
	}

}*/
/*.postbox .inside,
.stuffbox .inside {
	font-size: 14px;
}*/
/*.acf-field-repeater:not(.acf-field-59ab495554793) > .acf-label > label {
	//display: none !important;
}*/
/*.acf-field-5ad54561839fe div.acf-field-tab + div.acf-field > .acf-label {
	display: none;
}*/
/*.acf-postbox {
	.acf-field-59c85f5601896, // People enhanced message header
	.acf-field-59ad9e7a1595f, // Organizations repeater header
	.acf-field-59cdd095c90ac, // Classes enhanced message field header
	.acf-field-59b8bd0c20477 // Courses repeater header
	{
		> .acf-label {
			display: none !important;
		}
	}

	//.acf-field-59a1e3cb53654, // Filters
	.acf-field-5ad54759e23d1, // Job responsibilities
	.acf-field-5ad53e78f86b1, // Job qualifications
	.acf-field-5ad5417df86b6, // Job requirements
	.acf-field-5ad542f8f86ba, // Job salary schedule
	.acf-field-59ab495554793, // Roster people
	.acf-field-59c5b229f02a9, // Teacher classes
	.acf-field-59b8bcc420475, // Departments repeater
	.acf-field-59bb90f75ec6f, // Buildings repeater
	.acf-field-59bb90975ec6a, // Rooms repeater
	.acf-field-59bb9590c1f9e { // Periods repeater
		.acf-icon.-collapse.small {
			display: none !important;
		}
	}
	// Collapsible field group header and ACF config gear
	.handlediv,
	.hndle,
	.ui-sortable-handle {
		//font-weight : 400 !important;
	}
	.ui-sortable-handle {
		a {
			//color : #fff !important;
			&:hover {
				//color : #fff;
			}
		}
	}
	label {
		font-weight: 400 !important;
	}
	// Repeater collapser button
	.field-repeater-toggle-all, .field-flexible-toggle {
		margin-bottom: 6px !important;
	}
	!***************************************
	// Tab styling
	.inside.acf-fields.-top {
		background-color: lighten(lightsteelblue, 10%);
	}
	.inside.acf-fields.-top:not(.-sidebar) {
		background-color: lighten(lightblue, 10%);
		.acf-tab-wrap.-top {
			background-color: #ffffff;
			.acf-hl.acf-tab-group {
				li.active a {
					background-color: #0085ba !important;
					color: #ffffff;
					text-decoration: none;
					text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
					border-color: #0073aa #006799 #006799;
				}
				li a {
					font-weight: normal !important;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}
			}
		}
	}
	***************************************!
}*/
/*.acf-field.acf-field-enhanced-message.acf-field-59cdd095c90ac {
	padding: 0;
}*/
/*.acf-field.acf-field-enhanced-message.acf-field-59c85f5601896 {
	padding: 0;
}*/
/******* Core Wordpress admin customizations ******/
/*#wp-admin-bar-my-account > .ab-item:before {
	float: left;
	margin-right: 6px;
	margin-left: 0;
}*/
/*#wp-admin-bar-edit.hover .ab-sub-wrapper {
	display: none;
}*/
/*.wp-editor-container textarea.wp-editor-area,
.acf-editor-wrap iframe,
.mce-tinymce #content_ifr {
	min-height: 500px !important;
}*/
/*#wp-admin-bar-user-actions > li {
	margin-left: 0;
	margin-right: 0;
	> a {
		min-width: inherit;
	}
}*/
/*#wp-content-editor-tools {
	background-color: #fff;
}*/
/*.wp-core-ui .button,
.wp-core-ui .ac-button {
	text-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}*/
/*.wp-core-ui .button-secondary,
.wp-core-ui .ac-button {
	margin: 0 !important;
	vertical-align: baseline !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/
/*.edit-slug-box {
	.button-small {
		height: 28px;
		line-height: 26px;
		font-size: 13px;
		padding: 0 10px 1px;
	}
}*/
/*
.form-table {
	width: auto;
	th,
	> tbody > .acf-field > .acf-label {
		font-weight: normal;
		padding: 0 !important;
		vertical-align: middle;
	}
}*/
/*.pagination-links {
	.tablenav-pages-navspan,
	a.next-page,
	a.last-page {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
}*/
/**** Toolbar publish button ********/
/*.wpuxss-tpb {
	.ab-item,
	.ab-icon,
	.ab-icon:before,
	.ab-label {
		color: #fff !important;
	}
}*/
/******* User/Profile form customizations ********/
/*#your-profile {
	// hide "Personal Options" header + table
	h2 {
		display: none;
	}
	h2:first-of-type {
		display : none;
	}
	// hide "Name" header
	h2:nth-of-type(2) {
		display : none;
	}
	// hide "Contact Info" header
	h2:nth-of-type(3) {
		display : none;
	}
	// hide "About Yourself" / "About the user" header + table
	h2:nth-of-type(4) {
		display : none;
	}
	// hide "Account Management" header
	h2:nth-of-type(5) {
		display : none;
	}
	// hide "Work Info" header
	h2:nth-of-type(6) {
		display : none;
	}

	table:first-of-type {
		display: none;
	}
	table:nth-of-type(4) {
		display: none;
	}
	.user-url-wrap { display: none; }
}*/
/*#createuser {
	table:first-of-type {
		tbody tr:nth-of-type(5) {
			display: none;
		}
	}
	h2 {
		display: none;
	}
}*/
/*.user-admin-color-wrap {
	display : none;
}*/
/************* TinyMCE customizations *************/
/*#syn-media-button .dashicons-format-image {
	padding-right: 4px;
	line-height: inherit;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;
	background: 0 0;
	color: #444;
}*/
/*.mce-widget.mce-btn.mce-wp-dfw {
	display: none;
}*/
/********** Admin Columns customizations ***********/
/*table.wp-list-table tbody.cacie-enabled td .cacie-cell-action {
	margin-bottom: 0;
	margin-right: 0;
	color: #0074a2;
	&:hover {
		color: #00a0d2;
	}
}

.cacie-action-icon:after,
table.wp-list-table tbody.cacie-enabled td .cacie-cell-action:after {
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: baseline;
}

.widefat td,
.widefat td ol,
.widefat td p,
.widefat td ul {
	font-size: 14px;
}

.widefat td {
	vertical-align: top !important;
}

table.wp-list-table tbody:not(.cacie-enabled) .cacie-cell-actions {
	display: none;
}

table.wp-list-table tbody.cacie-enabled .cacie-cell-actions {
	display: inline-block;
}

#the-list > tr {
	&.level-1 .column-title_raw {
		padding-left: 40px;
	}
	&.level-2 .column-title_raw {
		padding-left: 80px;
	}
	&.level-3 .column-title_raw {
		padding-left: 120px;
	}
	&.level-4 .column-title_raw {
		padding-left: 160px;
	}
}

.cacie-action-icon.active:before,
table.wp-list-table tbody.cacie-enabled td .active.cacie-cell-action:before,
table.wp-list-table tbody.cacie-enabled td.cacie-editable-media.cacie-nonempty .cacie-cell-action:before,
table.wp-list-table tbody.cacie-enabled td:hover .cacie-cell-action:before {
	display: none;
}

.cacie-action-icon.active,
table.wp-list-table tbody.cacie-enabled td .active.cacie-cell-action,
table.wp-list-table tbody.cacie-enabled td.cacie-editable-media.cacie-nonempty .cacie-cell-action,
table.wp-list-table tbody.cacie-enabled td:hover .cacie-cell-action {
	color: #00a0d2;
}

#nav-menu-footer,
#nav-menu-header,
#your-profile #rich_editing, .checkbox,
.control-section .accordion-section-title,
.menu-item-handle,
.side-info,
.stuffbox .hndle,
.widefat tfoot td,
.widefat tfoot th,
.widefat thead td,
.widefat thead th,
.widget .widget-top {
	line-height: 1.5em;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.widefat td,
.widefat th {
	padding: 4px 10px;
	vertical-align: middle;
}

span.title,
span.checkbox-title,
label {
	font-style: normal !important;
}

table.media .column-title .filename {
	display: none;
}

.column-available_sizes .ac-image-sizes > span {
	display: block;
	&.ac-divider {
		display: none;
	}
}*/
/*************** ACF customizations ***************/
/*.acf-field .acf-label label,
.acf-tab-button,
label {
	font-size: 14px !important;
	font-weight: normal !important;
}

.acf-label .description {
	text-decoration: none;
	font-style: normal;
	color: #999 !important;
}

.widget-content .acf-label label {
	font-weight: normal !important;
}

// User form/profile (for ACF custom fields
form#createuser .acf-label label,
form#your-profile .acf-label label {
	font-weight: 600;
	line-height: 1.3;
	color: #444;
}

form#createuser ul.acf-radio-list li,
form#createuser ul.acf-checkbox-list li,
form#your-profile ul.acf-radio-list li,
form#your-profile ul.acf-checkbox-list li {
	font-size: 14px;
}

.user-new-php {
	#wpbody-content .wrap > p {
		display: none;
	}
}

#plugins-by-dreihochzwo {
	display: none;
}

#createuser, #edituser, #your-profile, #addtag, #edittag {
	input:not([type='button']):not([type='checkbox']):not([type='radio']):not([type='submit']), select {
		font-size: 14px;
		padding: 3px 5px;
		width: 400px;
		max-width: none;
		line-height: 1.4;
	}
	.description {
		//display : none;
		font-style: normal;
	}
	.acf-radio-list input[type='text'] {
		width: 150px !important;
		line-height: 1.4;
		margin: 0 !important;
	}
}

#addtag {
	.acf-input {
		width: 400px;
		vertical-align: middle;
	}
	input:not([type='button']):not([type='checkbox']):not([type='radio']):not([type='submit']), select {
		width: 400px;
	}
	#acf-term-fields {
		padding-right: 0;
	}
	.select2-container.-acf {
		width: 400px !important;
	}
}

#edittag {
	.acf-input {
		padding-right: 0;
		vertical-align: middle;
		p.description {
			display: none;
		}
	}
	.form-table:not(:first-child) {
		margin-top: 0;
	}
	.select2-container.-acf {
		width: 400px !important;
	}
}

.acf-field-5ad3454acb6a2 > .acf-input {
	width: 400px;
}

form#your-profile .description {
	//display : none;
}

// user form/profile sizing at breakpoint
@media screen and (max-width: 782px) {
	form#createuser .acf-label,
	form#your-profile .acf-label {
		margin: 0;
		padding: 10px 10px 0 0;
	}

	form#createuser .acf-input,
	form#your-profile .acf-input {
		padding: 4px 10px 6px 0;
	}

	form#createuser .acf-input input[type="text"],
	form#your-profile .acf-input input[type="text"],
	#url {
		height: inherit;
		border: 1px solid #ddd;
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		padding: 7px 10px;
	}

	form#createuser ul.acf-radio-list li,
	form#createuser ul.acf-checkbox-list li,
	form#your-profile ul.acf-radio-list li,
	form#your-profile ul.acf-checkbox-list li {
		margin-bottom: 4px;
	}
}

// Icon
.acf-icon.small {
	font-size: 1rem !important;
}

.acf-icon {
	color: #999 !important;
	border-color: #bbb !important;
	background-color: #fff !important;
}

.acf-icon:before {
	line-height: inherit;
}

.acf-icon:hover {
	color: #fff !important;
	background-color: gray !important;
}

.acf-icon.-minus:hover,
.acf-icon.-cancel:hover {
	background-color: red !important;
}

.acf-icon.-plus:hover {
	background-color: green !important;
}

.acf-icon.-collapse:hover {
	background-color: orange !important;
}

.acf-field-group .acf-fields.-border,
.acf-field-clone .acf-clone-fields.-border {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	background-color: transparent !important;
}

.acf-field-group .acf-fields .acf-field {
	padding: 2px !important;
	min-height: auto !important;
}

.acf-field-group .acf-fields .acf-field .acf-label,
.acf-field-group .acf-fields .acf-field .acf-label label {
	//margin: 0;
}

#acf-form-data.acf-hidden + h2 {
	display: none;
}

!**
Widgets page
 *!
div.widget-liquid-left {
	width: 25%
}

div.widget-liquid-right {
	width: 71%;
}

div[data-name=filters] td[data-type=group] div.acf-field {
	padding: 4px;
	border: none;
}

div#widgets-right .sidebars-column-1,
div#widgets-right .sidebars-column-2 {
	max-width: none;
}

.qtip {
	.qtip-content {
		font-size: 12px;
		padding: 4px 8px;
	}
}

#titlediv .acf-error-message {
	margin: 0 0 10px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-left: none;
	&:after {
		content: "";
		display: block;
		width: 0px;
		height: 0px;
		border: transparent 5px solid;
		border-top-color: #F55E4F;
		position: absolute;
		bottom: -10px;
		left: 10px;
	}
}

// True/false switch
.acf-switch:not(.-on),
.acf-switch:not(.-on):hover {
	color: #fff;
	text-shadow: #666 0 1px;
	background: #999;
}

.acf-switch.-on {
	background: #0085ba !important;
}

.acf-switch .acf-switch-on {
	text-shadow: #666 0 1px 0 !important;
}

// Flexible content field
.acf-flexible-content > .no-value-message {
	font-size: 14px !important;
}

.acf-flexible-content .layout,
.acf-flexible-content .layout .acf-field {
	background-color: #fff !important;
}

.acf-repeater > .acf-actions li {
	float: left;
	margin-left: 0;
	margin-right: 5px;
}

.acf-repeater .acf-fields .acf-row-handle span {
	color: #444;
	font-weight: 400;
	font-size: 14px;
}

.acf-repeater tr:nth-child(odd) {
	.acf-fields,
	.acf-row-handle {
		background-color: #f5f5f5 !important;
		color: #444;
	}
}

.acf-repeater tr:nth-child(even) {
	.acf-fields,
	.acf-row-handle {
		background-color: #fff;
		color: #444;
	}
}

.acf-widget-fields {
	.acf-field-group {
		> .acf-label {
			//display: none;
		}
		.acf-fields .acf-field {
			padding: 0 !important;
			margin: 13px 0;
		}
	}
}

.select2-container--default .select2-selection--single {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

div[data-name=filters] .acf-field .acf-label {
	margin: 0;
}*/
/*.toggle-indicator {
	color : #fff;
}*/
/*.acf-field-repeater.acf-field .acf-row-handle.order a.acf-icon.-collapse:not(:hover) {
	display          : block;
	background-color : #fff !important;
	color            : #444 !important;
	margin           : 4px 0 0 !important;
}

.acf-field-repeater.acf-field .acf-row-handle.order a.acf-icon.-collapse:hover {
	display          : block;
	background-color : #444 !important;
	color            : #fff !important;
	margin           : 4px 0 0 !important;
}*/
/*.acf-field-repeater.acf-field .acf-row-handle.remove a.acf-icon.-plus {
	display: none;
}

.acf-field-repeater.acf-field .acf-row-handle.remove a.acf-icon.-minus:not(:hover) {
	display: block;
	background-color: #fff !important;
	color: #444 !important;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
	font-weight: normal;
}*/
/*.acf-repeater .acf-button.button-primary {
	float: left;
	margin-bottom: 8px;
}

.acf-repeater.-table .acf-table .acf-th[data-width="1"] {
	display: none !important;
}

.acf-repeater td.acf-field .acf-input .acf-checkbox-list li {
	text-align: center;
}

.select2-drop ul li {
	margin-bottom: 0;
}

.select2-drop ul li .select2-result-label {
	padding-left: 7px;
}

.acf-tab-wrap.-left .acf-tab-group > li {
	background: #f5f5f5 !important;
	> a {
		background: transparent !important;
		color: #444 !important;
	}
}

.acf-tab-wrap.-left .acf-tab-group > li.active {
	background: #fafafa !important;
	> a {
		background: transparent !important;
		color: #00a0d2 !important;
	}
}

.acf-tab-wrap.-left .acf-tab-group > li:hover {
	> a {
		background: transparent !important;
		color: #00a0d2 !important;
	}
}

.acf-tab-wrap.-left .acf-tab-group li a {
	border-color: #ddd !important;
}

// Teacher Classes & Page Widgets tab group
#acf-group_598a99e35f248,
#acf-group_59c5b38407016 {
	background: #fafafa !important;
}

// a border on the right side of the active tab for left tabs
.acf-fields.-sidebar:before {
	border: none !important;
}

// Admin Columns customizations
// remove icon from inline edit button
.ac-button.ac-button-toggle-edit:after {
	display: none;
}

.tablenav {
	margin: 0 !important;
	height: auto;
	.actions {
		padding: 14px 0 !important;
		margin: 0 !important;
		> select,
		> input,
		a.ac-button,
		a.reset-sorting {
			margin: 0 4px 0 0 !important;
			vertical-align: top !important;
			top: 0 !important;
		}
		> .button,
		> .ac-button,
		> .reset-sorting {
			color: #444;
			border-color: #ccc;
			background: #f7f7f7;
			line-height: 14px;
			height: auto;
			padding: 6px 10px;
		}
	}
}

.tablenav-pages {
	padding: 14px 0 !important;
	margin: 0 !important;
	height: auto;
	.displaying-num,
	.tablenav-paging-text,
	.total-pages {
		font-size: 14px;
	}
	.pagination-links {
		.tablenav-pages-navspan,
		a {
			font-size: 16px;
			color: #444;
			border-color: #ccc;
			background: #f7f7f7;
			padding: 5px 10px;
			height: auto;
		}
	}
}

.tablenav-pages .current-page {
	padding: 2px;
	line-height: 28px;
	height: 28px;
	font-size: 14px;
}

.ac-button.add-new-h2.ac-button-toggle-edit {
	vertical-align: top !important;
}

body.users-php .tablenav .actions a.add-new-h2 {
	vertical-align: top !important;
}*/
/*************** FontAwesome Icons for admin menu ***************/
.dashicons, .dashicons-before:before {
	font-size: 16px; }

.dashicons-admin-post:before {
	font-family: FontAwesome !important;
	content: '\f1ea'; }

.dashicons-admin-media:before {
	font-family: FontAwesome !important;
	content: '\f03e'; }

.dashicons-admin-page:before {
	font-family: FontAwesome !important;
	content: '\f15b'; }

.dashicons-admin-comments:before {
	font-family: FontAwesome !important;
	content: '\f27a'; }

.dashicons-admin-links:before {
	font-family: FontAwesome !important;
	content: '\f14c'; }

/*.menu-icon-syntric_calendar > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f073';
}*/
.toplevel_page_syntric-organization > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1ad'; }

.toplevel_page_syntric-district > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0f7'; }

.toplevel_page_syntric-coe > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f64f'; }

.toplevel_page_syntric-school > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f118'; }

/*.toplevel_page_syntric-organizations > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1ad';
}*/
/*.toplevel_page_syntric-people > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f2bb';
}*/
/*.toplevel_page_syntric-classrooms > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1b3';
}*/
/*.toplevel_page_syntric-departments > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0e8';
}*/
/*.toplevel_page_syntric-courses > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0eb';
}*/
/*.toplevel_page_syntric-classes > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f0f3';
}*/
.toplevel_page_syntric-google-maps > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f278'; }

/*.toplevel_page_syntric-facebook-pages > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f230';
}*/
/*.toplevel_page_syntric-twitter-feeds > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f099';
}*/
.toplevel_page_syntric-jumbotrons > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f076'; }

.toplevel_page_syntric-settings > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f085'; }

/*.toplevel_page_syntric-social-media > .wp-menu-image:before {
	font-family: FontAwesome !important;
	content: '\f1e0';
}*/
.dashicons-admin-appearance:before {
	font-family: FontAwesome !important;
	content: '\f1fc'; }

.dashicons-admin-plugins:before {
	font-family: FontAwesome !important;
	content: '\f1e6'; }

.dashicons-admin-users:before {
	font-family: FontAwesome !important;
	content: '\f2c2'; }

.dashicons-admin-tools:before {
	font-family: FontAwesome !important;
	content: '\f0ad'; }

.dashicons-admin-settings:before {
	font-family: FontAwesome !important;
	content: '\f085'; }

.menu-icon-tinymcetemplates .dashicons-edit:before,
#tinymce-templates-wrap .dashicons-edit:before {
	font-family: FontAwesome !important;
	content: '\f247'; }

#wpadminbar #wp-admin-bar-admin > .ab-item:before {
	font-family: FontAwesome !important;
	content: '\f06e' !important; }

/*#wp-admin-bar-new-content > .ab-item > .ab-icon:before {
	font-family : FontAwesome !important;
	content     : '\f196' !important; // circle plus
	top         : 0 !important;
}
#wp-admin-bar-view > .ab-item:before {
	font-family : FontAwesome !important;
	content     : '\f06e'; // eye
	top         : 1px;
}
#wp-admin-bar-my-account > .ab-item:before {
	font-family : FontAwesome !important;
	content     : '\f2be' !important; // circle user
}*/
/*.acf-field > .acf-input ul.menu {
	a {
		padding: 6px 0;
	}
	.depth-1 {
		padding-left: 10px;
	}
	.depth-2 {
		padding-left: 20px;
	}
	.depth-3 {
		padding-left: 30px;
	}
	.depth-4 {
		padding-left: 40px;
	}
	.depth-5 {
		padding-left: 50px;
	}
}*/
/*.select2-container-multi .select2-choices .select2-search-choice {
	line-height: 1rem !important;
}
.select2-search-choice > div {
	padding: 4px 6px;
}
.select2-container-multi .select2-search-choice-close {
	left: 5px;
}
.select2-search-choice-close {
	top: 8px;
}*/
/*************** Enhanced Media Library customizations ***************/
/*.media-sidebar .attachment-info .thumbnail-application {
	display: none;
}

.media-sidebar .attachment-info .uploaded {
	display: none;
}

.media-sidebar label[data-setting="url"] {
	display: none;
}

.media-sidebar label[data-setting="description"] {
	display: none;
}

.media-sidebar label[data-setting="caption"] {
	display: none;
}*/
/*.media-frame-content .attachment-info {
	margin-bottom: 0;
	padding-bottom: 0;
}

.media-frame-content .attachment-info .details {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 8px;
}

.media-frame-content .attachment-info .details .uploaded {
	display: none;
}

.media-frame-content .attachment-info .settings {
	border-top: 1px solid #ddd;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 8px;
}

.media-frame-content .attachment-info .settings .setting:not([data-setting]) {
	display: none;
}

.media-frame-content .attachment-details .setting {
	padding-top: 8px;
	margin: 0;
}

.media-frame-content .setting span.name {
	min-width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	min-height: 22px;
}

.media-frame-content .setting input,
.media-frame-content .setting textarea {
	width: 100% !important;
	margin: 0 !important;
}

.media-frame-content .compat-item .media-types.media-types-required-info {
	display: none;
}

.media-frame-content .compat-item label span {
	font-size: 12px;
}

.media-frame-content .attachment-info .actions {
	margin-top: 0;
	padding-top: 8px;
}
*/
